@model PCConfiguration.Data.Models.CPU

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CPU</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoresCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoresCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoreClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoreClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoostClock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoostClock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegratedGPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegratedGPU)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
