@model IEnumerable<PCConfiguration.Data.Models.VideoCard>

@{
    ViewData["Title"] = "Index";
}

    <script type="text/javascript">
        var url = '@Url.Action("Add", "VideoCard")';

        $(".btnAdd").click(function () {
            var row = $(this).closest('tr');
        var quantity = parseInt(row.find('#item_Quantity').val(), 10);
            $.post(url, { id: $(this).data('id'), quantity: quantity }, function (result) { });
    });
    </script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chipset)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemorySize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoreSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoostSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interface)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
                @Html.ActionLink("Next", "Index", "Storage", null, null)
            </td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chipset)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemorySize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoreSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoostSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interface.Id)
            </td>
            <td>
                @Html.EditorFor(modelItem => item.Quantity)
                @Html.ValidationMessageFor(modelItem => item.Quantity)
            </td>
            <td>
                <button type="button" class="btnAdd" data-id="@item.Id">Add</button>
            </td>
        </tr>
        }
    </tbody>
</table>
