@model IEnumerable<PCConfigurationClient.ViewModels.SummaryViewModel>

<div class="title">
    <h1>Order Summary</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="product-name">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="product-name">
                    @String.Format("{0:c}", item.Price)
                </td>
            </tr>
        }
    <tr>
        <td class="product-name">Overall Total:</td>
        <td class="product-name">
            @String.Format("{0:c}", Model.LastOrDefault().TotalPrice)
        </td>        
    </tr>
    </tbody>
</table>
